.navbar {
  width: 100%;
  max-width: 2000px;
  height: 55px;
  background-color: #07aa02;
  margin-left: auto;
  display: flex; /* Cambia de block a flex */
  align-items: center; /* Alinea verticalmente */
  padding: 0 16px;
  gap: 12px; /* Espacio entre elementos hijos */
}

/* Contenedor de buscador y select */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Estilo del input */
.search-box {
  width: 200px;
  padding: 5px 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

/* Estilo del select */
.select-box {
  min-width: 100px;
  font-size: 16px;
}

