.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.form-questions {
    display: flex;
    flex-direction: column;
    gap: 1%;
    width: 100%;
}

.form-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column; /* Acomoda su contenido en columna */
    align-items: flex-start; /* Alinea contenido al inicio (izquierda) */
    width: 100%; /* Ocupa todo el ancho disponible del contenedor padre */
    max-width: 650px; /* ✅ Ajusta este valor según el tamaño que desees */
    background-color: #ffffff76;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(192, 188, 188, 0.081);
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 1rem;
}